@inherits LayoutComponentBase

<PageTitle>MoviesFan</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            Copyright &copy; 2022 - Mostefai Mohammed Amine
        </div>

        <div class="container page-content">
            @Body
        </div>
    </main>
</div>
