@page "/"

@inject IConfiguration Config;

<PageTitle>Movies Fan</PageTitle>

<h1>Movies</h1>

<p>Welcome to the movies website !</p>


@code{

    protected override void OnInitialized()
    {
    }
}