@page "/"

@inject IConfiguration Config;

<PageTitle>Movies Fan - V2</PageTitle>

<h1>Movies</h1>

<p>Welcome to the movies website ! - This is version 1 - Preparation with Kostya</p>


@code{

    protected override void OnInitialized()
    {
    }
}