@page "/"

@inject IConfiguration Config;

<PageTitle>Movies Fan - V2</PageTitle>

<h1>Movies - Demo V3</h1>

<p>Welcome to the movies website ! - This is the first version</p>


@code{

    protected override void OnInitialized()
    {
    }
}